@font-face {
  font-family: vazir;
  src: url("font/Vazir-Regular.eot");
  src: url("font/Vazir-Regular.woff") format("woff"),
    url("font/Vazir-Regular.ttf") format("ttf"),
    url("font/Vazir-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: vazir;
  height: 100vh;
}
h1 {
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
nav a {
  text-decoration: none;
  color: #17cf97;
  font-size: 1.5rem;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li .link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li .link:hover,
#navbar li .link.active {
  color: #17cf97;
}
#navbar li .link:hover::after,
#navbar li .link.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
}
#mobile i {
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -400px;
    width: 45%;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    margin-top: -12px;
    transition: 0.3s ease-in-out;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: block;
  }
  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
